 body {
      background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
      font-family: monospace;
      color: rgb(4, 55, 55);
    }
    header {
      font-size: 30px;
      text-align: left;
      margin: 10 auto;
    }
    img {
      display: flex;
      border-radius: 20px;
      width: 400px;
      display: left;
      margin-left: 0 auto;
    }
    button {
      text-align: left;
      color: rgb(14, 146, 146);
      margin: 0 auto;
      display: block;
      border: 2px solid rgb(101, 101, 105);
      border-radius: 30px;
      box-shadow: 0.5px 0.5px;
      font-size: 20px;
      background: rgb(232, 217, 220);
      padding: 10px 10px;
      transition: all 250ms ease-in-out;
    }

    button:hover {
      background: #1f98b7;
      color: azure;
      cursor: pointer;
    }
    .main {
      display: flex;
      background-color: #d1d8e6;
      padding: 10px;
      border-radius: 20px;
    }
    .text {
    align-content:center;
    align-items: center;
    background-color: #95bcea;
    padding: 20px, 30px 20px 30px;
    margin: 10px;
    height: 150px;
  border-radius: 20px;
  font-size: 16px;
  
    }
    small{
      display: block;
      text-align: center;
    }
      background-color: #d1d8e6;
      padding: 10px;
      border-radius: 20px;
    }
    .text {
    align-content:center;
    align-items: center;
    background-color: #95bcea;
    padding: 20px, 30px 20px 30px;
    margin: 10px;
    height: 150px;
  border-radius: 20px;
  font-size: 16px;
  
    }
    small{
      display: block;
      text-align: center;
    }
